.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  padding: 0px 20rem 200px 20rem;
}

.contactDiv {
  display: flex;
  max-width: 1200px;
  gap: 100px;
  align-items: center;
  justify-content: space-around;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bar {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.582);
  border-radius: 5px;
  padding: 10px;
}

.icons {
  width: 25px;
  height: 25px;
}
.iconDiv {
  background-color: rgba(0, 0, 0, 0.062);
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}
.labels {
  font-size: 1.4rem;
}
.textarea {
  border: none;
  border-radius: 5px;
  resize: none;
  background-color: rgba(255, 255, 255, 0.582);
  font-size: 1rem;
  margin-bottom: 10px;
  width: 400px;
  height: 110px;
}

.inputs {
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.582);
  font-size: 1rem;
  margin-bottom: 10px;
  max-width: 400px;
}

.button {
  background-color: #ce5252;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
}
.popContainer {
  position: absolute;
  background-color: #baaea0;
  border-radius: 5px;
  padding: 2rem;
}
.popContainer h1 {
  color: black;
}

.popContainerOff {
  display: none;
}
